@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
:root {
  --bg: #0c0c0c;
  --card: #151515;
  --card-hover: #1c1c1c;

  --primary: #f97316;
  --primary-hover: #fb923c;
  --orange-light: #fdba74;

  --white: #ffffff;
  --text: #f4f4f5;
  --muted: #a1a1aa;

  --border: #27272a;
  --border-hover: #3f3f46;

  --radius: 12px;
  --font-sans: "Geist Variable", sans-serif;
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
html,
body,
#root{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
html{
  font-family: var(--font-sans);
}
body{
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);
}